.events-upcoming h2{
  color: #0064A8;
  font-weight: 400;
}

.events-upcoming .month{
  background: #0064A8;
  color: #fff;
  border-radius: 16px 16px 0em 0em;
}

.events-upcoming .day{
  background: #f1f2f3;
  color: #000;
  font-size: 3em;
  border-radius: 0em 0em 16px 16px;
}


.events-upcoming .title h5{
  font-weight: 700;
}


.events-upcoming .date-time,
.events-upcoming .location{
  color: #888888;
}
