.hero-slider .carousel-indicators li{
  background-color: rgba(95,177,87,0.15);
}

.hero-slider .carousel-indicators .active{
  background-color: rgba(95,177,87,0.75);
}


.hero-slider .carousel-item{
  min-height: 32em;
  position: relative;
  background-size: cover;
  background-position: center center;
}
.hero-slider .carousel-item .h1_sm_gray{
  color: #2f3439;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}
.hero-slider .carousel-item .h1_lg_gray{
  color: #2f3439;
  font-size: 72px;
  line-height: 72px;
  font-weight: 700;
}
.hero-slider .carousel-item .h1_lg_green{
  color: #5fb157;
  font-size: 72px;
  line-height: 72px;
  font-weight: 700;
}




.slide-wrap{
  position: absolute;
  width: 100%;
  height: 100%;
}

.hero-slider .carousel-item .container{
  position: relative;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.hero-slider .carousel-item a.hero-cta{
  color: #5fb157 !important;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  text-decoration: none !important;
  transition: all 0.25s ease-in-out;
  position: relative;
  z-index: 99;
}
.hero-slider .carousel-item a.hero-cta:hover{
  color:#fff !important;
}

.hero-slider .carousel-item a.hero-cta:after{
  content: '';
  display: block;
  width: 100%;
  height: 7px;
  position: absolute;
  background-color: #5fb157 !important;
  transition: all 0.25s ease-in-out;
  z-index: 1;
  top: 100%;
  left: 0;
  border-radius: 2px;
  /* box-shadow: 0px 0px 0px #409138; */
}

.hero-slider .carousel-item a.hero-cta span{
  z-index: 99;
  position: relative;
}


.hero-slider .carousel-item a.hero-cta:before{
  content: '';
  display: block;
  bottom: -1%;
  left: 0;
  width: 100%;
  height: 0%;
  position: absolute;
  background-color: rgba(95,177,87,0) !important;
  transition: all 0.25s ease-out;
}


.hero-slider .carousel-item a.hero-cta:hover:before{
  height: 100%;
  background-color: rgba(64,145,56,1) !important;
}




@media only screen and (max-width: 991px) {
  .hero-slider .carousel-item{
    min-height: 32em;
  }
  .hero-slider .carousel-item .h1_sm_gray{
    font-size: 26px;
    line-height: 26px;
  }
  .hero-slider .carousel-item .h1_lg_gray{
    font-size: 52px;
    line-height: 52px;
    font-weight: 700;
  }
  .hero-slider .carousel-item .h1_lg_green{
    font-size: 52px;
    line-height: 52px;
  }
  .hero-slider .carousel-item a.hero-cta{
    font-size: 26px;
    line-height: 26px;
  }
  .hero-slider .carousel-item a.hero-cta:after{
    height: 7px;
    border-radius: 2px;
  }
}


@media only screen and (max-width: 575px) {
  .hero-slider .carousel-item{
    min-height: 24em;
  }
  .hero-slider .carousel-item .h1_sm_gray{
    font-size: 18px;
    line-height: 22px;
  }
  .hero-slider .carousel-item .h1_lg_gray{
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
  }
  .hero-slider .carousel-item .h1_lg_green{
    font-size: 36px;
    line-height: 36px;
  }
  .hero-slider .carousel-item a.hero-cta{
    font-size: 18px;
    line-height: 18px;
  }
  .hero-slider .carousel-item a.hero-cta:after{
    height: 5px;
    border-radius: 2px;
  }
}




.hero-slider .video-container {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 0;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.hero-slider-video-background {
  background: #FFFFFF;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.hero-slider-video-foreground,
.hero-slider-video-background video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
	transform: translateY(-50%);
	top: 50%;
}



.hero-slider .video-container:after{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(255,255,255,0.95) 0%, rgba(255,255,255,0.85) 50%, rgba(255,255,255,0.25) 100%);
}
