.blog-carousel .headline h2{
  color: #2963a3;
  font-size: 1.8em;
  font-weight: 500;
  margin-bottom: 1em;
}


.blog-carousel .cta-button a{
  color: #2963a3;
  font-size: 1.1em;
  font-weight: 300;
  display: inline-block;
  border-bottom: 1px dotted #2963a3;
  text-decoration: none;
  margin-bottom: 1em;
  transition: all 0.5s ease;
}

.blog-carousel .cta-button a:hover{
  color: #0A2544;
  border-bottom: 1px solid #0A2544 !important;
}



.blog-carousel .item{
  background-color: #efefef;
}

.blog-carousel .item img{
  border-bottom: 1em solid #0064A8;
}

.blog-carousel .item .carousel-blog-title a{
  color: #0a2544;
  text-decoration: underline;
  font-size: 0.8em;
  font-weight: 700;
  line-height: 1.8em;
  display: inline-block;
}

.blog-carousel .item .carousel-blog-date span{
  color: #0064A8;
  font-size: 0.8em;
  font-weight: bold;
}

.blog-carousel .item .carousel-blog-excerpt{
  font-size: 0.8em;
  line-height: 1.8em;
  color: #0a2544;
  font-weight: 100;
}

.blog-carousel .item .carousel-blog-cta{
  border-top: 1px solid #fff;
}

.blog-carousel .item .carousel-blog-cta a{
  color: #ce202f;
  font-size: 0.8em;
  display: inline-block;
  padding-right: 1em;
  border-bottom: 1px solid #ce202f;
  text-decoration: none !important;
}


.blog-carousel .owl-nav .owl-prev{
  position: absolute;
  top: 50%;
  left: 0;
  width: 4rem;
  height: 4rem;
  background-color: rgba(255,255,255,0.8) !important;
  border: 1px solid #f1f2f3 !important;
  border-radius: 50% !important;
  z-index: 999;
  transform: translate(-80%, -50%);
  color: rgba(10, 37, 68, 0.6);
  outline: none !important;
}
.blog-carousel .owl-nav .owl-next{
  position: absolute;
  top: 50%;
  right: 0;
  width: 4rem;
  height: 4rem;
  background-color: rgba(255,255,255,0.8) !important;
  border: 1px solid #f1f2f3 !important;
  border-radius: 50% !important;
  z-index: 999;
  transform: translate(80%, -50%);
  color: rgba(10, 37, 68, 0.6);
  outline: none !important;
}

.blog-carousel .owl-nav .owl-prev:hover,
.blog-carousel .owl-nav .owl-next:hover{
    color: rgba(10, 37, 68, 0.8) !important;
}

.blog-carousel .owl-nav .owl-prev span,
.blog-carousel .owl-nav .owl-next span{
  font-size: 4em !important;
  line-height: 2rem !important;
}
